<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blacksheep">

        <!-- Splash video launcher -->
        <activity
            android:name=".SplashVideoActivity"
            android:exported="true"
            android:theme="@style/Theme.BlackSheep.SplashVideo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity (post-splash landing or login) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Player management screen -->
        <activity
            android:name=".PlayerManagementActivity"
            android:exported="false" />
    </application>

</manifest>